{% extends 'base.html.twig' %}

{% block title %}Notification Service{% endblock %}

{% block body %}
    <h1>Notification Service</h1>

    {{ form_start(notificationForm) }}
    {{ form_widget(notificationForm) }}
    {{ form_end(notificationForm) }}

{% endblock %}
