{% extends 'base.html.twig' %}

{% block body %}
    <h2>Index</h2>

    <ul>
        <li><a href="{{ path('app_channels') }}" class="btn btn-link" role="button">Setup channels</a></li>
        <li><a href="{{ path('app_send_notification') }}" class="btn btn-link" role="button">Send notification</a></li>
        <li><a href="{{ path('app_logout') }}" class="btn btn-link" role="button">Logout</a></li>
    </ul>

{% endblock %}
